table,  th {
	border: 1px solid black;
}
.container{
	padding: 20px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 300px;
}
.container__table{
	min-width: 300px;
	min-height: 200px;
	}

.tablecontainer__header{
	height: 40px;
}
.tablecontainer__main{
}
.tablecontainer__main_column{
	border: 1px solid black;
	}

.tablecontainer__main_columnItem{
		display: flex;
	flex-direction: column;
	align-items: center;
}

.container__diagram{
	
}
.container__item{
	margin-top: 10px;
}
.container__item_btn{
	background-color: #1390E5;
color: rgb(247, 244, 244);
box-shadow: 0px 2px 2px 0px #9fa1a1;
border-radius: 5px;
	cursor: pointer;
	width: 120px;
	height: 30px;
	
}
.container__item_btnReport{
	background-color: #1390E5;
color: rgb(247, 244, 244);
box-shadow: 0px 2px 2px 0px #9fa1a1;
border-radius: 5px;
	cursor: pointer;
	width: 120px;
	height: 30px;
	margin-left: 20px;
}
.container__item_btnReport:hover,
.container__item_btn:hover{
	background-color: #106ead;
}

.container__item_btn:focus{
	background-color: #054774;
}


